<section class="hero" id="inicio">
  <div class="container hero-grid">
    <div>
      <h1>
        Pães fresquinhos
        <span>todos os dias.</span>
      </h1>
      <p>Doces, bolos, salgados, bebidas e produtos de mercado em um só lugar.</p>
      <div>
        <app-button href="#catalogo">Ver Catálogo</app-button>
      </div>
    </div>

    <div class="hero-image">
      <div class="hero-circle">
        <img src="/assets/images/eloa_girl.png" alt="Eloa Mercados e Panificações">
      </div>
    </div>
  </div>
</section>