<header>
    <div class="container nav">
        <div class="nav-top">
            <div class="logo">
                <div>
                    Eloa
                    <span>MERCADOS &amp; PANIFICAÇÕES</span>
                </div>
            </div>
        </div>

        <nav class="menu">
            <a href="#home">Início</a>
            <a href="#features">Diferenciais</a>
            <a href="#catalog">Catálogo</a>
            <a href="#about">Sobre</a>
            <a href="#contact">Contato</a>
        </nav>

        <a class="btn" [href]="whatsappLink" target="_blank">
            <img src="/assets/icons/whatsapp.svg" width="18" height="18" alt="WhatsApp" class="btn-icon">
            Fazer Pedido
        </a>
    </div>
</header>